<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="appid" value="wxf0b4d2abb6b52d1b" />
    <!--公众账号ID-->
    <add key="mch_id" value="1604932264" />
    <!--账户ID-->
    <add key="key" value="290tSfz22L40m3Qsz7998d8K7373624I" />
    <!--支付密钥-->
    <add key="secret" value="4444" />
    <!--账户ID-->
    <!--证书路径-->
    <add key="SSlCertPath" value="D:\SourceFile\apiclient_cert.p12" />
    <!--证书路径-->
    <add key="SSlCertPassword" value="" />
    <!--支付结果通知url-->
    <add key="NotifyUrl" value="7" />
    <!--商户系统后台机器IP-->
    <add key="Ip" value="8" />
    <!--代理服务器设置        默认IP和端口号分别为0.0.0.0和0，此时不开启代理（如有需要才设置）-->
    <add key="ProxyUrl" value="9" />
    <!--上报信息配置  测速上报等级，0.关闭上报; 1.仅错误时上报; 2.全量上报-->
    <add key="ReportLevel" value="10" />
    <!--日志级别  日志等级，0.不输出日志；1.只输出错误信息; 2.输出错误和正常信息; 3.输出错误信息、正常信息和调试信息 -->
    <add key="LogLevel" value="11" />
    <!--S-代表自营门店，J-代表加盟门店-->
    <add key="StoreType" value="S" />
    <!--数据库地址-->
    <add key="DB_PATH" value="D:\123.sqlite" />
    <!--ActiveMQ地址端口-->
    <add key="ActiveMQ_Path" value="39.100.155.249:61616" />
    <!--ActiveMQ用户名-->
    <add key="ActiveMQ_UserName" value="admin" />
    <!--ActiveMQ密码-->
    <add key="ActiveMQ_PassWord" value="admin" />
    <!--ActiveMQ主题-->
    <add key="ActiveMQ_Subject" value="queue_101" />
    <!--ActiveMQ服务端主题-->
    <add key="ActiveMQ_Service_Subject" value="queue_platform" />
    <!--门店设备ID-->
    <add key="DeviceId" value="209" />

    <!--门店地址-->
    <add key="Address" value="陕西省西安市未央区" />

    <!--客服电话-->
    <add key="Phone" value="15592095151" />

    <!--门店名称-->
    <add key="StoreName" value="唐宫尚品店" />

    <add key="Old_Username" value="-1" />
    
    <!--小票规格-->
    <add key="XioaPiaoGG" value="8cm*X" />

    <!--小票数量-->
    <add key="XiaoPiaoNum" value="1" />

    <!--本地IP-->
    <add key="IP" value="10.0.0.31" />
    
    <!--广告图片地址-->
    <add key="ImgPath" value="D:\GGPIC" />

    <!--广告声音地址-->
    <add key="VoicePath" value="D:\1.mp3" />


    <add key="MP3Path" value="D:\1.mp3" />
    

    <!--是否双屏-->
    <add key="IsDouble" value="1" />

    <!--是否固定在左侧-->
    <add key="IsLeft" value="1" />
    
    <!--图片切换间隔-->
    <add key="Timer" value="1" />

    <!--店长-->
    <add key="StoreManage" value="209" />

    <!--服务端域名-->
    <add key="Url" value="https://cash.smc.jingluojingji.com" />

    <!--是否事Debug-->
    <add key="ISDEBUG" value="False" />

    <!--单号前缀-->
    <add key="DHQZ" value="9517" />

    <!--富有商户号-->
    <add key="FYSHH" value="0007910F3896998" />

    <!--富有接口-->
    <add key="FYJKDZ" value="https://aipay.fuioupay.com/aggregatePay/micropay" />

    <!--富有退款接口-->
    <add key="TKFYJKDZ" value="https://aipay.fuioupay.com/aggregatePay/commonRefund" />
    
    <add key="PRIVATE_KEY" value="8363505092b211eb8583c85b3ace20e1" />
    <add key="PUBLIC_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAks0bOozPoqUndlxQu4eMP1Hq7Jx3JyBBWHbPrVplX1n89N8x1tJO7aVHAoyxNskBU9Sj5zT8+fbhrkH/RT73vJPzVsVuv66j0pIEgUcGS4dseo3mW8X9FXh7knirk5E9dUJIGKE6fi/CGOQqSoJ5WCOx9S1UTgadFj18MakhhRSu6qvHCm6R3QXUI8EaX1+GCuoSz0Yj9hQX1mjKzu+oNnjs8zJdrwnPH++KlT/CPRUSon6adX/bWkTDPSQSdopSFiq27U1BCZNFPW5zjMujhYKo96hyaxA19lHgWdOSAvHikxXjVqV6DL8xJ4YHhg/x744xLVjz8PdPmfMn/PjNmwIDAQAB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>